@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.d1{
    width: 60px;
    height:60px;
    padding: 20px;
    background-color:black;
    color: white;
}
.h_font{
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
    color: black;
    text-shadow: 4px 4px white;
}